<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RabbitMQHost" value="localhost" />
    <add key="RecieverEmail" value="alexander.dp1996@gmail.com"/>
    <add key="SenderEmail" value="alexander.dp1996@gmail.com"/>
    <add key="SenderUserName" value="alexander.dp1996"/>
    <add key="SenderPassword" value=""/>
    <add key="RabbitMQExchange" value="BookCatalog" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="DataContext" connectionString="data source=books.cj9wwbthh4ei.eu-central-1.rds.amazonaws.com;initial catalog=Books;user id=admin; pwd=Bt9ZYa103gis;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>